.btn {
    font-weight: 700;
    font-style: 'normal';
    font-size: 20px;
    line-height: 1.5;
    min-width: 120px;
    min-height: 45px;    
    border-radius: 10px;

    &.btn-primary {
        color: #fff
    }

    &.btn-sm {
        font-size: 0.875rem;
        line-height: 1.25;
        min-width: 60px;
        min-height: 22.5px;
    }
}