@import 'vue-select/dist/vue-select.css';

.label-required {
    font-weight: 500;
    position: relative;

    &::after {
        position: absolute;
        content: "*";
        color: var(--danger);
        padding-left: 5px;
    }
}

.form-control {
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 10px;
    min-height: 45px;

    &::placeholder {
        color: #999999;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;                
    }

    &.form-control-sm {
        min-height: 35px;
    }
}

.b-form-file {
    min-height: 45px;

    .custom-file-input, .custom-file-label  {
        height: 45px;
    }

    .custom-file-label {
        padding-top: .75rem;
        border-radius: 10px;
        border: 1px solid var(--primary);
        
        &::after {
            height: 45px;
            padding-top: .5rem;
            border: none;
            background-color: transparent;
            font-size: 18px;
        }
    }

    &.pdf {
        .custom-file-label {
            &::after {
                font-weight: 900;
                font-family: "Font Awesome 6 Free";
                content: "\f1c1"!important;
                color: var(--primary)           
            }
        }
    }
}

.input-group {
    .input-group-text {
        border-radius: 10px;
        background-color: transparent;
        border-left-color: transparent;
        border: 1px solid var(--primary);
    }
}

.b-form-datepicker {
    .btn {
       min-width: auto
    }

    label.form-control {
        line-height: 2rem;
    }

    .form-control {
        min-height: auto;
    }
}

.b-form-btn-label-control.form-control {
    height: 45px;
}

.v-select {
    .vs__dropdown-toggle {
        background: #FFFFFF;
        border: 1px solid var(--primary);
        border-radius: 10px;
        min-height: 45px;

        .vs__search {
            font-size: 14px;
            color: var(--gray)
        }
    }

    .vs__dropdown-menu {
        border-radius: 10px;
        border: 1px solid var(--primary);

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        
        &::-webkit-scrollbar
        {
            width: 6px;
            background-color: #F5F5F5;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;            
        }
        
        &::-webkit-scrollbar-thumb
        {
            background-color: var(--gray);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;            
        }        
    }

    &.vs--disabled {
        .vs__dropdown-toggle {
            background: var(--vs-disabled-bg);
        }
    }

    &[state=true] {
        .vs__dropdown-toggle {
            border: 1px solid var(--success)
        }
    }

    &[state=false] {
        .vs__dropdown-toggle {
            border: 1px solid var(--danger)
        }
    }

    &.select-sm {
        .vs__dropdown-toggle {
            min-height: 38px;
        }
    }

    .vs__dropdown-option--highlight {
        background-color: #f5f5f5;
        color: #333
    }    

    &.search-customer {
        .vs__dropdown-option {
            padding: 0
        }
    }
}

.custom-radio {
    padding-left: 2.15rem;
    line-height: 1.5rem;

    .custom-control-label {
        &::before {
            height: 26px;
            width: 26px;
            left: -2.25rem;
            top: -0.1rem;
        }

        &::after {
            height: 26px;
            width: 26px;
            left: -2.25rem;
            top: -0.125rem;
        }
    }

    .custom-control-input:checked ~ .custom-control-label::after {
        background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2712%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23F0B01D%27/></svg>")
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #fff;
    }

    &.b-custom-control-lg {
        padding-left: 2.65rem;
        line-height: 2rem;
    
        .custom-control-label {
            &::before {
                height: 34px;
                width: 34px;
                left: -2.75rem;
                top: -0.1rem;
            }
    
            &::after {
                height: 34px;
                width: 34px;
                left: -2.75rem;
                top: -0.125rem;
            }
        }        
    }
} 