.form-control {
    background: #FFFFFF;
    border: 1px solid #F59300;
    border-radius: 10px;
    min-height: 60px;

    &::placeholder {
        color: #999999;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;                
    }
}