.navbar,.navbar-expand {
    min-height: 60px;
    .navbar-nav {
        align-items: center;
        
        .nav-link {
            color: #ffffff;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }

        &.navbar-left {
            .nav-item {
                &:first-child {
                    .nav-link {
                        padding-left: 0;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

.project-dropdown {
    .dropdown-menu {
        min-width: 300px;
        max-width: 300px;
        padding: 0;

        li {
            border-bottom: 1px solid var(--light);
        
            .dropdown-item {
                padding: 0.25rem 0.5rem;
                font-size: 14px;
                color: rgb(102, 102, 102);
                display: flex;
                width: 100%;

                .task-title {
                    font-size: 14px
                }
            }

            .b-dropdown-form {
                display: flex;
                width: 100%;
                padding: .25rem 0.5rem;
                align-items: center;
                
                .form-control {
                    padding: 0 0 0 0.25rem;
                    border: none;
                    outline: none;
                    font-size: 14px;
                    line-height: 1;
                    min-height: 14px;
                    border-radius: 0;        

                    &:hover, &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }            
            
            &.project-names {
                .b-dropdown-form {
                    background-color: var(--primary);
                    color: #fff;
                    font-size: 14px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    overflow-x: auto;
                    padding: .35rem 0.5rem;
                    
                    .project-title {
                        text-align: center;
                        padding: .25rem .5rem;
                        border-radius: 5px;
                        margin-right: .25rem;
                        flex-shrink: 0;

                        &.active {
                            background-color: rgba(255, 250, 250, 0.85);
                            color: var(--primary);
                        }
                    }
                }
            }                  
        }
    }
}

.notification-dropdown {
    .dropdown-toggle {
        text-align: center;
        margin-right: 1.5rem;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .dropdown-menu {
        min-width: 360px;
        max-width: 360px;
        padding: 0;
        right: 0;
        left: auto;

        li {
            border-bottom: 1px solid var(--light);
        
            .dropdown-item {
                padding: 0.35rem 0.5rem;
                font-size: 14px;
                color: rgb(102, 102, 102);
                display: flex;
                width: 100%;

                .noti-content-title {
                    font-size: 14px;
                    overflow: hidden;
                    text-overflow: ellipsis;      
                    font-weight: bold;

                    &.seen {
                        opacity: .65;
                    }
                }
            }

            .b-dropdown-form {
                display: flex;
                width: 100%;
                padding: .25rem 0.5rem;
                align-items: center;
                
                .form-control {
                    padding: 0 0 0 0.25rem;
                    border: none;
                    outline: none;
                    font-size: 14px;
                    line-height: 1;
                    min-height: 14px;
                    border-radius: 0;        

                    &:hover, &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }            
            
            &.noti-names {                                
                .b-dropdown-form {
                    background-color: var(--primary);
                    color: #fff;
                    font-size: 14px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    overflow-x: auto;
                    padding: .35rem 0.5rem;
                    
                    .noti-title {
                        text-align: center;
                        padding: .25rem .5rem;
                        border-radius: 5px;
                        margin-right: .25rem;
                        flex-shrink: 0;
                        width: 50%;

                        &.active {
                            background-color: rgba(255, 250, 250, 0.85);
                            color: var(--primary);
                        }
                    }
                }
            }                  
        }
    }
}

.account-dropdown {
    .dropdown-menu {
        min-width: 235px;
        padding: 0;

        li {
            border-bottom: 1px solid var(--light);
        
            .dropdown-item {
                padding: 0.25rem 0.5rem;
                font-size: 14px;
                color: rgb(102, 102, 102);
                font-weight: 400;

                svg {
                    margin-right: 8px
                }
            }
            
            &.account-name {
                .dropdown-item {
                    color: #fff;
                    font-size: 16px;
                }
            }            
        }
    }
}

.hrm-tabs, .project-tabs {
    background: #F6F8FA;
    padding: .5rem 0 0 0;

    .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        border-bottom: 1px solid var(--gray);

        .nav-item {
            flex: none;
            .nav-link {
                font-weight: bold;
                color: #333;

                &.active {
                    background: transparent;
                    border-color: transparent;
                    border-bottom: 4px solid var(--primary);
                }
            }
        }
    }
}