.navbar,.navbar-expand {
    min-height: 60px;
    .navbar-nav {
        align-items: center;
        
        .nav-link {
            color: #ffffff;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }

        .nav-item {
            &:first-child {
                .nav-link {
                    padding-left: 0;
                }
            }

            &:last-child {
                .nav-link {
                    padding-right: 0;
                }
            }
        }
    }
}

.project-dropdown {
    .dropdown-menu {
        min-width: 300px;
        padding: 0;

        li {
            border-bottom: 1px solid var(--light);
        
            .dropdown-item {
                padding: 0.25rem 0.5rem;
                font-size: 16px;
                color: rgb(102, 102, 102);
                display: flex;
                width: 100%;
            }

            .b-dropdown-form {
                display: flex;
                width: 100%;
                padding: .25rem 0.5rem;
                align-items: center;
                
                .form-control {
                    padding: 0 0 0 0.25rem;
                    border: none;
                    outline: none;
                    font-size: 16px;
                    line-height: 1;
                    min-height: 16px;
                    border-radius: 0;        

                    &:hover, &:focus {
                        border: none;
                        outline: none;
                    }
                }
            }            
            
            &.project-names {
                .dropdown-item {
                    color: #fff;
                    font-size: 14px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    overflow-x: auto;
                    padding: .35rem 0.5rem;
                    
                    .project-title {
                        min-width: 60px;
                        text-align: center;
                        padding: .25rem .5rem;
                        border-radius: 5px;
                        margin-right: .25rem;

                        &.active {
                            background-color: rgba(255, 250, 250, 0.85);
                            color: var(--primary);
                        }
                    }
                }
            }                  
        }
    }
}

.account-dropdown {
    .dropdown-menu {
        min-width: 235px;
        padding: 0;

        li {
            border-bottom: 1px solid var(--light);
        
            .dropdown-item {
                padding: 0.25rem 0.5rem;
                font-size: 16px;
                color: rgb(102, 102, 102);
                font-weight: 500;

                svg {
                    margin-right: 8px
                }
            }
            
            &.account-name {
                .dropdown-item {
                    color: #fff;
                    font-size: 18px;
                }
            }            
        }
    }
}

.hrm-tabs {
    background: #F6F8FA;
    padding: .5rem 0 0 0;

    .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;

        .nav-item {
            flex: none;
            .nav-link {
                font-weight: bold;
                color: #333;
                border-bottom: 1px solid var(--gray);

                &.active {
                    background: transparent;
                    border-color: transparent;
                    border-bottom: 3px solid var(--primary);
                }
            }
        }
    }
}