.b-pagination {
    .page-item {
        .page-link {
            font-size: 0.875rem;
            color: #333;
            font-weight: 600;
            height: 36px;
            line-height: 1.5;
        }

        &:first-child, &:last-child, &:nth-child(2), &:nth-last-child(2) {
            .page-link {
                font-size: 1.25rem;
                line-height: .6;  
            }          
        }

        &:first-child {
            .page-link {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }        

        &:last-child {
            .page-link {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }        
    }
}

.table-qconnection {    
    border-spacing: 0;
    border-collapse: separate;

    thead {
        tr {
            td {
                vertical-align: middle;
                border: none;
            }
        }
    }

    tbody {
        position: relative;

        tr {
            td, th {
                vertical-align: middle;

                &:first-child {
                    border-left: 1px solid #dee2e6;
                }

                &:last-child {
                    border-right: 1px solid #dee2e6;
                }
            }

            &:first-child {
                td, th {
                    &:first-child {
                        border-top-left-radius: 10px;
                    }

                    &:last-child {
                        border-top-right-radius: 10px;
                    }
                }
            }            

            &:last-child {
                td, th {
                    &:first-child {
                        border-bottom-left-radius: 10px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 10px;
                    }

                    border-bottom: 1px solid #dee2e6; 
                }
            }            
        }

        .table-loading {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(150, 150, 150, .1);
            border-radius: 10px;
        }
    }
}

#q-table {
    .btn {
        min-width: auto;
        height: auto;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
    }

    .form-control {
        min-height: auto;
    }
}

#table-announcements {    
    border-spacing: 0;
    border-collapse: separate;

    thead {
        tr {
            td {
                vertical-align: middle;
                border: none;
            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;

                &:first-child {
                    border-left: 1px solid #dee2e6;
                }

                &:last-child {
                    border-right: 1px solid #dee2e6;
                }
            }

            &:first-child {
                td {
                    &:first-child {
                        border-top-left-radius: 10px;
                    }

                    &:last-child {
                        border-top-right-radius: 10px;
                    }
                }
            }            

            &:last-child {
                td {
                    &:first-child {
                        border-bottom-left-radius: 10px;
                    }

                    &:last-child {
                        border-bottom-right-radius: 10px;
                    }

                    border-bottom: 1px solid #dee2e6; 
                }
            }            
        }
    }
}