#q-table {
    .btn {
        min-width: auto;
        height: auto;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
    }

    .form-control {
        min-height: auto;
    }
}