/** START width & height */

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

@media screen and (max-width: 1400px) and (max-width: 2560px) {
    @for $i from 1 through 20 {
        $size: 5 * $i;

        .w-xl-#{$size} {
            width: $size * 1%
        }

        .h-xl-#{$size} {
            width: $size * 1%
        }
    }
}

@media screen and (max-width: 1200px) {
    @for $i from 1 through 20 {
        $size: 5 * $i;

        .w-lg-#{$size} {
            width: $size * 1%
        }

        .h-lg-#{$size} {
            width: $size * 1%
        }        
    }
}

@media screen and (max-width: 992px) {
    @for $i from 1 through 20 {
        $size: 5 * $i;

        .w-md-#{$size} {
            width: $size * 1%
        }

        .h-md-#{$size} {
            width: $size * 1%
        }
    }
}

@media screen and (max-width: 768px) {
    @for $i from 1 through 20 {
        $size: 5 * $i;

        .w-sm-#{$size} {
            width: $size * 1%
        }

        .h-sm-#{$size} {
            width: $size * 1%
        }
    }
}

/** END width & height */

.page-content {
    padding-top: 60px;
    padding-bottom: 60px;

    &.hrm {
        padding-top: 30px
    }
}

.hrm-tabs {
    margin-top: 2rem;
}

@media screen and (max-width: 992px) {
    .page-content {
        padding-top: 30px;
    }
}

.read-more {
    p {
        margin-bottom: .25rem;
    }
}